<div class="circle">
  <div
    ng2FileDrop
    (onFileDrop)="uploader.uploadAll()"
    (fileOver)="fileOverBase($event)"
    [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
    [uploader]="uploader"
    class="well my-drop-zone"
  >
    <input
      type="file"
      name="photo"
      ng2FileSelect
      [uploader]="uploader"
      accept="image/*"
      (change)="uploader.uploadAll()"
      id="file-upload"
    />

    <p class="text-center m-0 p-4">
      <span class="mb-3 d-block">
        <img src="assets/images/ic_image.svg" alt="" />
      </span>
      <span class="mb-2 d-block">
        Drag and drop photo here
      </span>
      <span class="mb-2 d-block">
        or
      </span>
      <span class="browse" (click)="clickHandler()">browse</span>
    </p>
  </div>
</div>
