#file-upload {
  display: none;
}
.circle {
  width: 100%;
}

.my-drop-zone {
  border: 1px dashed #ced4da;
}
.nv-file-over {
  border: 1px dashed #4a90e2;
}

.browse {
  color: #4a90e2;
  cursor: pointer;
}
