<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="row">
        <div
          class="col-10 offset-1 d-flex align-items-center reset-password-container"
        >
          <div class="page-container w-100 p-5">
            <div class="logo-img mb-4">
              <img src="assets/images/logo.png" alt="" />
            </div>
            <h3 class="text-center border-bottom pb-4 mb-4">
              the collective
            </h3>
            <p class="text-center mb-4 password-reset-letters">
              Password Reset <br />
              <small class="text-muted">
                Enter your email below
              </small>
            </p>
            <div class="alert alert-danger" *ngIf="incorrectEmail">
              No Accounts Registered With This Email
            </div>
            <div class="alert alert-success" *ngIf="emailSent">
              Reset Password Steps Sent To Your Inbox, Please Check it Now.
            </div>

            <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control w-100"
                  formControlName="email"
                  placeholder="Email"
                />
                <div *ngIf="email.errors" class="w-100">
                  <div
                    *ngIf="email.errors.email && email.touched"
                    class="invalid-feedback d-block"
                  >
                    Please Enter a Valid Email.
                  </div>
                  <div
                    *ngIf="email.errors.required && email.touched"
                    class="invalid-feedback d-block"
                  >
                    Email Is Required
                  </div>
                </div>
              </div>
              <button mat-raised-button color="primary" class="w-100 py-1 mb-3">
                RESET PASSWORD
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
