.reset-password-container {
  height: 100vh;
}

.logo-img {
  img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 140px;
  }
}

.password-reset-letters {
  letter-spacing: 5px;
  small {
    letter-spacing: 1px;
  }
}
