<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="row">
        <div
          class="col-10 offset-1 d-flex align-items-center reset-password-container"
        >
          <div class="page-container login w-100 p-5">
            <div class="logo-img mb-4">
              <img src="assets/images/logo.png" alt="" />
            </div>
            <h3 class="text-center border-bottom pb-4 mb-4">
              the collective
            </h3>
            <p class="text-center mb-4 password-reset-letters">
              Password Reset <br />
              <small class="text-muted">
                Enter your new password
              </small>
            </p>
            <!-- <div class="alert alert-danger" *ngIf="incorrectUser">
              Email or Password is incorrect
            </div> -->
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
              <div class="input-group mb-3">
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  placeholder="New Password"
                />
              </div>
              <button
                mat-raised-button
                color="primary"
                class="w-100 py-1 mb-3"
                [disabled]="!resetForm.valid"
              >
                RESET PASSWORD
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
