<app-navbar></app-navbar>
<div *ngIf="!isLoaded">
  <app-spinner></app-spinner>
</div>
<div *ngIf="isLoaded" class="page-layout">
  <div class="container-fluid">
    <div style="background-color: #f7f8f8;">
      <div class="row">
        <div class="col-3">
          <div
            class="searh-container p-4 border-bottom"
            style="background-color: #fff; margin-right: -15px;"
          >
            <div class="input-group">
              <input
                matInput
                class="form-control"
                placeholder="Searh For Profile..."
                [matAutocomplete]="auto"
                [(ngModel)]="query"
                (ngModelChange)="getSearchUsers($event)"
              />
            </div>

            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let profile of filteredProfiles"
                [routerLink]="['/profile/view', profile._id]"
              >
                <div class="d-flex align-items-center">
                  <div>
                    <img
                      class="search-img mr-2"
                      aria-hidden
                      [src]="
                        profile.profileImg
                          ? imgBaseUrl + profile.profileImg
                          : 'assets/images/img-placeholder.svg'
                      "
                    />
                  </div>
                  <div class="d-flex flex-column">
                    <span>{{ profile.firstName }} {{ profile.lastName }}</span>
                    <small
                      >{{ profile.city }}, {{ profile.state
                      }}<span *ngIf="profile.country">,</span>
                      {{ profile.country }}</small
                    >
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="col-5 border-bottom d-flex align-items-center">
          <p class="mb-0 font-weight-bold d-flex">Bio</p>
        </div>
        <div
          class="col-4 d-flex align-items-center justify-content-between notes-header border-bottom"
        >
          <p class="m-0 font-weight-bold">
            Notes
          </p>
          <button (click)="openAddNoteDialog()" mat-button class="add-note-btn">
            <i class="fas fa-plus"></i>
          </button>
        </div>
        <div
          class="col-3"
          style="padding-right: 0px; min-height: calc(100vh - 56px);"
        >
          <div class="personal-info p-4 pt-0">
            <div class="d-flex justify-content-end">
              <button
                class="side-menu-btn"
                mat-button
                [matMenuTriggerFor]="menu"
              >
                <i class="fas fa-ellipsis-h"></i>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  [routerLink]="['/profile/edit/', profile._id]"
                >
                  Edit
                </button>
              </mat-menu>
            </div>
            <div class="border-bottom mb-3">
              <img
                class="profile-img mb-3"
                [src]="
                  profile.profileImg
                    ? imgBaseUrl + profile.profileImg
                    : 'assets/images/img-placeholder.svg'
                "
                alt=""
              />

              <h3 class="font-weight-light text-center">
                {{ profile.firstName }} {{ profile.lastName }}
              </h3>
              <p class="text-center">
                {{ profile.city }}, {{ profile.state
                }}<span *ngIf="profile.country">,</span> {{ profile.country }}
              </p>
            </div>
            <div class="border-bottom mb-3">
              <div class="d-flex justify-content-between mb-3">
                <span class="font-weight-light">Primay Email</span>
                <span class="font-weight-bold">{{ profile.primaryEmail }}</span>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <span class="font-weight-light text-muted">Email</span>
                <span class="text-muted">{{ profile.email }}</span>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <span class="font-weight-light">Primary Phone</span>
                <span>{{ profile.primaryPhone }}</span>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <span class="text-muted font-weight-light">Phone</span>
                <span class="text-muted">{{ profile.phone }}</span>
              </div>
            </div>

            <div>
              <h4 class="mb-4">Socail Media</h4>
              <div class="row">
                <div class="col-3">
                  <button
                    *ngIf="!profile.facebook"
                    class="socialmedia-btn"
                    (click)="openDialog(0)"
                    mat-button
                  >
                    <i class="fab fa-lg fa-facebook-f"></i>
                  </button>
                  <a
                    href="https://facebook.com/{{ profile.facebook }}"
                    mat-button
                    target="_black"
                    class="socialmedia-btn"
                    *ngIf="profile.facebook"
                  >
                    <i class="fab fa-lg fa-facebook-f active-sm"></i>
                    <span
                      (click)="stopClickDefaults($event, 0)"
                      class="remove-socail-btn"
                    >
                      <i class="fas fa-times fa-sm"></i>
                    </span>
                  </a>
                </div>
                <div class="col-3">
                  <button
                    class="socialmedia-btn"
                    (click)="openDialog(1)"
                    mat-button
                    *ngIf="!profile.linkedIn"
                  >
                    <i class="fab fa-lg fa-linkedin-in"></i>
                  </button>
                  <a
                    href="https://linkedin.com/{{ profile.linkedIn }}"
                    mat-button
                    target="_black"
                    class="socialmedia-btn"
                    *ngIf="profile.linkedIn"
                  >
                    <i class="fab fa-lg fa-linkedin-in active-sm"></i>
                    <span
                      *ngIf="this.profile.linkedIn"
                      (click)="stopClickDefaults($event, 1)"
                      class="remove-socail-btn"
                    >
                      <i class="fas fa-times fa-sm"></i>
                    </span>
                  </a>
                </div>
                <div class="col-3">
                  <button
                    class="socialmedia-btn"
                    (click)="openDialog(2)"
                    mat-button
                    *ngIf="!profile.twitter"
                  >
                    <i class="fab fa-lg fa-twitter"></i>
                  </button>
                  <a
                    mat-button
                    href="https://twitter.com/{{ profile.twitter }}"
                    target="_black"
                    class="socialmedia-btn"
                    *ngIf="profile.twitter"
                  >
                    <i class="fab fa-lg fa-twitter active-sm"></i>
                    <span
                      (click)="stopClickDefaults($event, 2)"
                      class="remove-socail-btn"
                    >
                      <i class="fas fa-times fa-sm"></i>
                    </span>
                  </a>
                </div>
                <div class="col-3">
                  <button
                    class="socialmedia-btn"
                    (click)="openDialog(3)"
                    mat-button
                    *ngIf="!profile.instagram"
                  >
                    <i class="fab fa-lg fa-instagram"></i>
                  </button>
                  <a
                    mat-button
                    href="https://instagram.com/{{ profile.instagram }}"
                    target="_black"
                    class="socialmedia-btn"
                    *ngIf="profile.instagram"
                  >
                    <i class="fab fa-lg fa-instagram active-sm"></i>
                    <span
                      (click)="stopClickDefaults($event, 3)"
                      class="remove-socail-btn"
                    >
                      <i class="fas fa-times fa-sm"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / col-3 -->
        <div class="col-5 pt-3">
          <div class="middle-container p-3 mb-3">
            {{ profile.bio }}
          </div>
          <div class="middle-container p-3 mb-3">
            <p class="font-weight-bold">Superpowers</p>
            <div class="d-flex flex-wrap">
              <div
                class="border mr-3 mb-3 d-flex align-items-center char-span"
                *ngFor="let superpower of profile.superpowers"
              >
                {{ superpower.name }}
                <i
                  (click)="removeSuperpower(superpower)"
                  class="fas fa-times ml-3"
                ></i>
              </div>
              <div
                class="input-group input-group-sm mb-3 char-input-container"
                *ngIf="enterSuperpower"
              >
                <input
                  [(ngModel)]="superpowerInput"
                  type="text"
                  class="form-control"
                  placeholder="Type Superpower"
                />
                <div class="input-group-append">
                  <button
                    (click)="addSuperPower()"
                    class="btn btn-outline-secondary"
                    type="button"
                    [disabled]="!superpowerInput"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <div *ngIf="!enterSuperpower" (click)="toggleSuperpower()">
                <button style="color: #6c757d;" class="btn border btn-sm">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="middle-container p-3">
            <p class="font-weight-bold">Weaknesses</p>
            <div class="d-flex flex-wrap">
              <div
                class="border mr-3 mb-3 d-flex align-items-center char-span "
                *ngFor="let weakness of profile.weaknesses"
              >
                {{ weakness.name }}
                <i
                  (click)="removeWeekness(weakness)"
                  class="fas fa-times ml-3"
                ></i>
              </div>
              <div
                class="input-group mb-3 input-group-sm char-input-container"
                *ngIf="enterWeekness"
              >
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="weeknessInput"
                  placeholder="Type Weakness"
                />
                <div class="input-group-append">
                  <button
                    (click)="addWeekness()"
                    class="btn btn-outline-secondary"
                    type="button"
                    [disabled]="!weeknessInput"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <div *ngIf="!enterWeekness" (click)="toggleWeekness()">
                <button style="color: #6c757d;" class="btn border btn-sm">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- / col-5 -->
        <div
          class="col-4"
          style="padding-left: 0; min-height: calc(100vh - 56px);"
        >
          <div class="companies-notes-container p-4">
            <div>
              <p *ngIf="profile.notes.length < 1">
                No Notes Avaliable for This Profile
              </p>
              <div class="mb-3" *ngFor="let note of profile.notes">
                <div class="d-flex justify-content-between">
                  <p class="font-weight-bold">
                    {{ note.title }}
                  </p>
                  <div>
                    <button
                      class="side-menu-btn"
                      mat-button
                      [matMenuTriggerFor]="menu"
                    >
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="deleteNote(note)">
                        Delete Note
                      </button>
                    </mat-menu>
                  </div>
                </div>
                <p class="mb-0">
                  {{ note.body }}
                </p>
                <p class="text-right mb-0">
                  <small>
                    {{ note.date | date: "MMM, dd, yyyy":"UTC" }}
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
