<app-navbar></app-navbar>
<div *ngIf="!isLoaded">
  <app-spinner></app-spinner>
</div>
<div *ngIf="isLoaded" class="page-layout">
  <div class="container-fluid">
    <div style="background-color: #f7f8f8;">
      <div class="row">
        <div class="col-3">
          <div class="searh-container p-4 d-flex align-items-center">
            <div class="w-100">
              <app-profile-search></app-profile-search>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="py-5 px-4 h-100 d-flex align-items-center">
            <h5 class="mb-0 font-weight-bold">Bio</h5>
          </div>
        </div>
        <div class="col-4">
          <div
            class="py-4 px-4 h-100 d-flex align-items-center"
            style="background-color: #343c4b;"
          >
            <div
              class="d-flex align-items-center justify-content-between notes-header w-100"
            >
              <p class="m-0 font-weight-bold">
                Organizations & Affiliations
              </p>
              <button
                mat-button
                class="add-note-btn"
                id="add-company"
                (click)="onCompanySearch($event)"
              >
                <img
                  width="20"
                  src="assets/images/ic_add_without_border.svg"
                  alt=""
                />
              </button>

              <div
                [hidden]="!searchForCompany"
                style="position: absolute;
                left: 2.5rem;
                right: 2.5rem;"
              >
                <app-company-search
                  (closeCompanyInput)="onCompanySearch($event)"
                  (addedCompany)="onAddCompany($event)"
                  [searchForCompany]="searchForCompany"
                  [userId]="userId"
                >
                </app-company-search>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="border-bottom"></div>
        </div>
        <div class="col-3" style="min-height: calc(100vh - 56px);">
          <div class="personal-info p-4 pt-0">
            <div class="d-flex justify-content-end">
              <button
                class="side-menu-btn"
                mat-button
                [matMenuTriggerFor]="menu"
              >
                <img
                  src="assets/images/ic_control_gray.svg"
                  width="20"
                  alt=""
                />
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  [routerLink]="['/profile/edit/', profile._id]"
                >
                  Edit
                </button>
              </mat-menu>
            </div>
            <div class="border-bottom mb-3">
              <img
                class="profile-img mb-3"
                [src]="
                  profile.profileImg
                    ? imgBaseUrl + profile.profileImg
                    : 'assets/images/img-placeholder.svg'
                "
                alt=""
              />

              <h3 class="font-weight-light text-center">
                {{ profile.name }}
              </h3>
              <p class="text-center">
                {{ profile.location }}
              </p>
            </div>
            <div class="border-bottom mb-3">
              <div
                class="d-flex justify-content-between mb-3"
                *ngFor="let email of profile.emails"
              >
                <span
                  [ngClass]="{ 'text-muted': !email.isPrimary }"
                  class="font-weight-light"
                  ><span *ngIf="email.isPrimary">Primay </span>Email</span
                >
                <span
                  [ngClass]="{ 'text-muted': !email.isPrimary }"
                  class="font-weight-bold"
                >
                  {{ email.value }}
                </span>
              </div>
              <div
                class="d-flex justify-content-between mb-3"
                *ngFor="let phone of profile.phones"
              >
                <span
                  class="font-weight-light"
                  [ngClass]="{ 'text-muted': !phone.isPrimary }"
                  ><span *ngIf="phone.isPrimary">Primay </span>Phone</span
                >
                <span
                  [ngClass]="{ 'text-muted': !phone.isPrimary }"
                  [ngClass]="{ 'text-muted': !phone.isPrimary }"
                >
                  {{ phone.prefix }} {{ phone.value }}
                </span>
              </div>
            </div>

            <div>
              <h4 class="mb-4">Social Media</h4>
              <div class="row">
                <div class="col-3">
                  <button
                    *ngIf="!profile.facebook"
                    class="socialmedia-btn"
                    (click)="openDialog(0)"
                    mat-button
                  >
                    <i class="fab fa-lg fa-facebook-f"></i>
                  </button>
                  <a
                    href="https://facebook.com/{{ profile.facebook }}"
                    mat-button
                    target="_black"
                    class="socialmedia-btn"
                    *ngIf="profile.facebook"
                  >
                    <i class="fab fa-lg fa-facebook-f active-sm"></i>
                    <span
                      (click)="stopClickDefaults($event, 0)"
                      class="remove-socail-btn"
                    >
                      <i class="fas fa-times fa-sm"></i>
                    </span>
                  </a>
                </div>
                <div class="col-3">
                  <button
                    class="socialmedia-btn"
                    (click)="openDialog(1)"
                    mat-button
                    *ngIf="!profile.linkedIn"
                  >
                    <i class="fab fa-lg fa-linkedin-in"></i>
                  </button>
                  <a
                    href="https://linkedin.com/in/{{ profile.linkedIn }}/"
                    mat-button
                    target="_black"
                    class="socialmedia-btn"
                    *ngIf="profile.linkedIn"
                  >
                    <i class="fab fa-lg fa-linkedin-in active-sm"></i>
                    <span
                      *ngIf="this.profile.linkedIn"
                      (click)="stopClickDefaults($event, 1)"
                      class="remove-socail-btn"
                    >
                      <i class="fas fa-times fa-sm"></i>
                    </span>
                  </a>
                </div>
                <div class="col-3">
                  <button
                    class="socialmedia-btn"
                    (click)="openDialog(2)"
                    mat-button
                    *ngIf="!profile.twitter"
                  >
                    <i class="fab fa-lg fa-twitter"></i>
                  </button>
                  <a
                    mat-button
                    href="https://twitter.com/{{ profile.twitter }}/"
                    target="_black"
                    class="socialmedia-btn"
                    *ngIf="profile.twitter"
                  >
                    <i class="fab fa-lg fa-twitter active-sm"></i>
                    <span
                      (click)="stopClickDefaults($event, 2)"
                      class="remove-socail-btn"
                    >
                      <i class="fas fa-times fa-sm"></i>
                    </span>
                  </a>
                </div>
                <div class="col-3">
                  <button
                    class="socialmedia-btn"
                    (click)="openDialog(3)"
                    mat-button
                    *ngIf="!profile.instagram"
                  >
                    <i class="fab fa-lg fa-instagram"></i>
                  </button>
                  <a
                    mat-button
                    href="https://instagram.com/{{ profile.instagram }}/"
                    target="_black"
                    class="socialmedia-btn"
                    *ngIf="profile.instagram"
                  >
                    <i class="fab fa-lg fa-instagram active-sm"></i>
                    <span
                      (click)="stopClickDefaults($event, 3)"
                      class="remove-socail-btn"
                    >
                      <i class="fas fa-times fa-sm"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / col-3 -->
        <div class="col-5 pt-3">
          <!-- <p class="mb-0 font-weight-bold d-flex">Bio</p> -->
          <div class="middle-container p-3 mb-3">
            {{ profile.bio }}
          </div>
          <div class="middle-container p-3 mb-3">
            <app-superpowers
              [userId]="profile._id"
              [superpowers]="profile.superpowers"
            >
            </app-superpowers>
          </div>
          <div class="middle-container p-3">
            <app-weaknesses
              [userId]="profile._id"
              [weaknesses]="profile.weaknesses"
            ></app-weaknesses>
          </div>
        </div>
        <!-- / col-5 -->
        <!-- padding-left: 0; -->
        <div class="col-4" style=" min-height: calc(100vh - 56px);">
          <div class="companies-notes-container p-4">
            <div>
              <p class="mb-4" *ngIf="profile.companies?.length < 1">
                No Companies Avaliable for This Profile
              </p>
              <div class="mb-3" *ngFor="let company of profile.companies">
                <div class="d-flex justify-content-between">
                  <!-- {{ company | json }} -->
                  <p>
                    {{ company.name }}
                  </p>
                  <div>
                    <button
                      class="side-menu-btn"
                      mat-button
                      [matMenuTriggerFor]="menu"
                    >
                      <img
                        src="assets/images/ic_control_blue.svg"
                        width="20"
                        alt=""
                      />
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="deleteCompany(company)">
                        Delete Company
                      </button>
                    </mat-menu>
                  </div>
                </div>
              </div>
            </div>

            <div
              class=" notes-header border-bottom border-top mb-4 py-4 px-4"
              style="margin-left: -1.5rem; margin-right: -1.5rem"
            >
              <div
                class="w-100 d-flex align-items-center justify-content-between"
              >
                <p class="m-0 font-weight-bold">
                  Notes
                </p>
                <button
                  (click)="openAddNoteDialog()"
                  mat-button
                  class="add-note-btn"
                >
                  <!-- <i class="fas fa-plus"></i> -->
                  <img
                    width="20"
                    src="assets/images/ic_add_without_border.svg"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <!-- <div class="companies-notes-container p-4"> -->
            <div>
              <p *ngIf="profile.notes?.length < 1">
                No Notes Avaliable for This Profile
              </p>
              <div class="mb-3" *ngFor="let note of profile.notes">
                <div class="d-flex justify-content-between">
                  <p class="font-weight-bold">
                    {{ note.title }}
                  </p>
                  <div>
                    <button
                      class="side-menu-btn"
                      mat-button
                      [matMenuTriggerFor]="menu"
                    >
                      <img
                        src="assets/images/ic_control_blue.svg"
                        width="20"
                        alt=""
                      />
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="deleteNote(note)">
                        Delete Note
                      </button>
                    </mat-menu>
                  </div>
                </div>
                <p class="mb-0">
                  {{ note.body }}
                </p>
                <p class="text-right mb-0">
                  <small>
                    {{ note.date | date: "MMM, dd, yyyy":"UTC" }}
                  </small>
                </p>
              </div>
            </div>
          </div>

          <!-- / .companies-notes-container  -->
        </div>
      </div>
    </div>
  </div>
</div>
