.page-layout {
  background-color: #343c4b;
  // margin-top: -1rem;
  margin-top: -105px;
  padding-top: 105px;
}

.personal-info {
  background-color: #fff;
  height: 100%;
  .profile-img {
    width: 180px;
    height: 180px;
    object-fit: contain;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
  }
}

.companies-notes-container {
  background-color: #343c4b;
  height: 100%;
  color: #fff;
}

.socialmedia-btn {
  border: 1px solid #dee2e6;
  height: 50px;
  min-width: 50px;
  width: 50px;
  margin: 0 auto;
  display: block;
  &:focus {
    outline: none;
  }
  .remove-socail-btn {
    position: absolute;
    bottom: -13px;
    right: -9px;
    border: 1px solid #dee2e6;
    line-height: 0.9;
    padding: 5px;
    border-radius: 17px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    color: #dee2e6;
    z-index: 999;
    cursor: pointer;
  }
  .fa-facebook-f {
    color: #787e8c;
    &.active-sm {
      color: #3b5999;
    }
  }
  .fa-linkedin-in {
    color: #787e8c;
    &.active-sm {
      color: #0077b5;
    }
  }
  .fa-twitter {
    color: #787e8c;
    &.active-sm {
      color: #55acee;
    }
  }
  .fa-instagram {
    color: #787e8c;
    &.active-sm {
      color: #e4405f;
    }
  }
}

a {
  &.socialmedia-btn {
    line-height: 48px;
  }
}

.middle-container {
  background-color: #fff;
}

.char-input-container {
  width: 160px;
  .input-group-append {
    button {
      border: transparent;
      background-color: #f7f8f8;
      &:hover {
        color: #6c757d;
      }
      &:focus {
        box-shadow: none;
      }
      &:disabled {
        opacity: 1;
        i {
          opacity: 0.6;
        }
      }
    }
  }
}

.notes-header {
  background-color: #343c4b;
  color: #fff;

  &.border-top {
    border-top: 1px solid rgb(83, 94, 114) !important;
  }
  &.border-bottom {
    border-bottom: 1px solid rgb(83, 94, 114) !important;
  }
}

.add-note-btn {
  width: 40px;
  min-width: 40px;
  padding: 0;
}

.input-group-text {
  border-radius: 0;
  border: none;
}

.searh-container {
  background-color: #fff;
  height: 100%;
}
