<app-navbar></app-navbar>
<div *ngIf="!isLoaded">
  <app-spinner></app-spinner>
</div>
<div class="container-fluid" *ngIf="isLoaded">
  <form [formGroup]="profileForm">
    <div class="row">
      <div class="col-3">
        <div class="py-5 px-4" style="background-color: #fff">
          <h5 class="font-weight-bold m-0">
            Edit Profile
          </h5>
        </div>
      </div>
      <div class="col-9">
        <div class="py-5">
          <h5 class="font-weight-bold m-0">
            Bio
          </h5>
        </div>
      </div>
      <div class="col-12">
        <div class="border-bottom"></div>
      </div>
      <div class="col-3">
        <div style="background-color: #fff" class="py-5 px-4">
          <div
            *ngIf="profile.profileImg"
            class="mb-4"
            style="position: relative; width: 180px;
          margin-right: auto;
          margin-left: auto;"
          >
            <img class="profile-img" [src]="imgBaseUrl + profile.profileImg" />
            <button
              mat-button
              type="button"
              class="remove-img-btn"
              (click)="removeProfilePic()"
            >
              <img src="assets/images/ic_close_white.svg" width="18" alt="" />
            </button>
          </div>
          <div *ngIf="!profile.profileImg" class="mb-4">
            <app-profile-uploader (imgChange)="onProfileImgChange($event)">
            </app-profile-uploader>
          </div>
          <label for="name">Name</label>
          <div class="input-group mb-3">
            <input
              name="name"
              formControlName="name"
              id="name"
              type="text"
              class="form-control"
              placeholder="Name"
            />
          </div>
          <label for="location">Location</label>
          <div class="input-group mb-3">
            <input
              formControlName="location"
              name="location"
              id="location"
              type="text"
              class="form-control"
              placeholder="Location"
            />
          </div>
          <div formArrayName="emails">
            <div
              *ngFor="let email of formEmails.controls; let i = index"
              [formGroupName]="i"
            >
              <div class="d-flex justify-content-between align-items-end">
                <label for="email-{{ i }}"
                  ><span *ngIf="email.value?.isPrimary">Primary</span> Email
                </label>
                <button
                  class="text-uppercase make-primary"
                  color="primary"
                  *ngIf="!email.value?.isPrimary"
                  mat-button
                  type="button"
                  (click)="makeEmailPrimary(i)"
                >
                  Make Primary
                </button>
              </div>
              <div class="input-group mb-3">
                <input
                  formControlName="value"
                  id="email-{{ i }}"
                  type="text"
                  class="form-control"
                  placeholder="Email"
                />
              </div>
            </div>
          </div>
          <label for="email-model">Email</label>
          <div class="input-group mb-3">
            <input
              [(ngModel)]="emailModel"
              [ngModelOptions]="{ standalone: true }"
              id="email-model"
              type="text"
              class="form-control"
              placeholder="One more email"
              (keyup.enter)="addEmail()"
            />
            <div class="input-group-append">
              <button
                [disabled]="!emailModel"
                class="btn add-btn"
                mat-button
                type="button"
                (click)="addEmail()"
              >
                <img src="assets/images/ic_add_from_rearch.svg" alt="" />
              </button>
            </div>
          </div>
          <!-- Phones -->
          <div formArrayName="phones">
            <div
              *ngFor="let phone of formPhones.controls; let i = index"
              [formGroupName]="i"
            >
              <div class="d-flex justify-content-between align-items-end">
                <label for="phone-{{ i }}"
                  ><span *ngIf="phone.value?.isPrimary">Primary</span> Phone
                </label>
                <button
                  *ngIf="!phone.value?.isPrimary"
                  color="primary"
                  mat-button
                  type="button"
                  class="text-uppercase make-primary"
                  (click)="makePhonePrimary(i)"
                >
                  Make Primary
                </button>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span style="border: none;" class="input-group-text p-0">
                    <input
                      style="
                      padding-right: 0;
                      border-right: none;
                      width: 50px;"
                      type="text"
                      class="form-control"
                      formControlName="prefix"
                      placeholder="+1"
                      matInput
                    />
                  </span>
                </div>
                <input
                  formControlName="value"
                  id="phone-{{ i }}"
                  type="text"
                  class="form-control"
                  placeholder="Phone"
                  style="border-left: none;
                "
                />
              </div>
            </div>
          </div>
          <label for="phone-model">Phone</label>
          <div class="input-group mb-5">
            <div class="input-group-prepend">
              <span style="border: none;" class="input-group-text p-0">
                <input
                  [(ngModel)]="phonePrefix"
                  [ngModelOptions]="{ standalone: true }"
                  style="
                      padding-right: 0;
                      border-right: none;
                      width: 50px;"
                  type="text"
                  class="form-control"
                  placeholder="+1"
                  id="phone-prefix"
                />
              </span>
              <!-- formControlName="prefix" -->
            </div>
            <input
              [(ngModel)]="phoneModel"
              [ngModelOptions]="{ standalone: true }"
              id="phone-model"
              type="text"
              style="border-left: none;"
              class="form-control"
              placeholder="One more phone"
              (keyup.enter)="addPhone()"
            />
            <div class="input-group-append">
              <button
                [disabled]="!phoneModel"
                class="btn add-btn"
                mat-button
                type="button"
                (click)="addPhone()"
              >
                <img src="assets/images/ic_add_from_rearch.svg" alt="" />
              </button>
            </div>
          </div>
          <button
            mat-raised-button
            color="primary"
            (click)="onSubmit()"
            type="button"
            class="py-1 w-100 "
          >
            Save
          </button>
        </div>
      </div>
      <div class="col-9">
        <div class="pt-4">
          <div class="input-group">
            <textarea
              formControlName="bio"
              id="bio"
              rows="6"
              type="text"
              class="form-control"
              placeholder="Bio"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
