body {
  background-color: #f7f8f8;
}

img {
  max-width: 100%;
}

.bg-dark {
  background-color: #343c4b !important;
}

.page-container {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.login .input-group {
  label,
  input {
    display: block;
    max-width: 100%;
    width: 100%;
    color: #787e8c;
  }
}
.login .form-control {
  padding: 15px;
  border-radius: 0;
  background-color: #f7f8f8;
  height: auto;
  border-color: #f5f5f5;
}

.login .form-control:focus {
  border-color: transparent;
  box-shadow: none;
  background-color: #f7f8f8;
  border-color: #f5f5f5;
}

// .login
.form-control:focus {
  border-color: transparent;
  box-shadow: none;
  // background-color: #f7f8f8;
  border-color: #ced4da;
}

.char-span {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  color: #6c757d;
}

.mat-button.side-menu-btn {
  min-width: 40px;
  width: 40px;
  color: #787e8c;
  padding: 0;
}

.diolog-title {
  margin-top: -24px;
  margin-right: -24px;
  margin-left: -24px;
  padding-left: 24px;
  padding-right: 24px;
}

.mat-menu-content:not(:empty) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

button:focus {
  outline: none !important;
}

::ng-deep .mat-menu-panel {
  min-height: 46px !important;
}
