// =====================================================
// =====================================================
// =====================================================
// =====================================================
// =====================================================

@import "~@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$i-move-u-primary: (
  50: #e9f2fc,
  100: #c9def6,
  200: #a5c8f1,
  300: #80b1eb,
  400: #65a1e6,
  500: #4a90e2,
  600: #4388df,
  700: #3a7dda,
  800: #3273d6,
  900: #2261cf,
  A100: #ffffff,
  A200: #d5e3ff,
  A400: #a2c1ff,
  A700: #89b0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$theme-primary: mat-palette($i-move-u-primary);
$theme-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$theme-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
// $theme-accent,
$app-theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
