.profile-container {
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  .profile-img {
    width: 46px;
    height: 46px;
    object-fit: contain;
    border-radius: 4px;
    object-fit: cover;
  }
}

.number-of-contacts {
  font-size: 13px;
}

.char-span {
  font-size: 13px;
}

.table-header {
  font-size: 13px;
}
.karma {
  padding: 8px 15px;
  line-height: 1;
  border-radius: 5px;
  &.green {
    background-color: #b8e986;
    border: 1px solid #6dc247;
  }
}

.profile-link {
  color: #000000;
  text-decoration: none;
}

.star-icon {
  color: #f8c51c;
}

.pale-sort-icon {
  opacity: 0.6;
}
